* {
  box-sizing: border-box;
}
.collage {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 160px;
  gap: 20px;
  max-width: 1400px;
  margin: auto;
  position: relative;
  z-index: 2; /* BUNU EKLEMEZSEN SVG ÜZERİNE ÇIKAMAZ */
}

body {
  margin: 0;
  background: black;
  padding: 40px;
  overflow-x: hidden;
}
.bg-heart {
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}

.bg-heart svg {
  width: 100%;
  height: 100%;
}

.bg-heart path {
  stroke: #ff2a2a;
  stroke-width: 3;
  filter: drop-shadow(0 0 10px rgba(255,0,0,0.6));
}

.wide {
  grid-column: 1 / -1;
  grid-row: span 2;
}

.collage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #111;
  border: 1px solid rgba(255,0,0,0.25);
  box-shadow: 0 20px 50px rgba(255,0,0,0.15);
  transition: transform 0.3s, z-index 0.3s;
}


.collage img:hover {
  transform: scale(1.05);
  z-index: 10;
}

/* Özel büyük görseller */
.big {
  grid-column: span 3;
  grid-row: span 3;
}

.tall {
  grid-column: span 2;
  grid-row: span 3;
}

.collage img:nth-child(odd) {
  transform: rotate(-1deg);
}

.collage img:nth-child(even) {
  transform: rotate(1deg);
}

.collage img {
  transform: rotate(0deg);
}
